@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* AUTH */
.fi-logo {
    @apply !h-10;
}

/* SIDEBAR */
.fi-sidebar.fi-sidebar-open { @apply lg:!w-1/5 2xl:!w-1/5; }

.fi-sidebar-nav-groups { @apply gap-y-4 }

.fi-sidebar-header {
    @apply py-2 !ring-0;
}

.fi-sidebar-group > .fi-sidebar-group-items { @apply gap-y-2; }

.fi-topbar nav {
    @apply !ring-0 py-2 !border-none;
}

/* SIDEBAR ITEM */
.fi-sidebar-item a {
    @apply py-2 px-4 rounded-xl;
}

.fi-sidebar-item a > span,
.fi-sidebar-item a > svg {
    @apply font-semibold dark:font-bold dark:text-gray-100;
}

.fi-sidebar-item a:focus,
.fi-sidebar-item a:hover {
    @apply bg-primary-100 shadow-md dark:bg-primary-900 dark:shadow-lg transition-all ease-in-out duration-100 !important;
}

.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:focus span,
.fi-sidebar-item a:hover span {
    @apply text-primary-600 dark:text-gray-100 transition-all ease-in-out duration-100 !important;
}

.fi-sidebar-item-active a {
    @apply bg-primary-100 shadow-md dark:bg-primary-900 dark:shadow-lg;
}

.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:focus svg,
.fi-sidebar-item-active svg {
    @apply !text-secondary-500 dark:!text-secondary-500 transition-all ease-in-out duration-300 !important;
}
.fi-sidebar.fi-sidebar-open {
    .fi-sidebar-item a:hover svg,
    .fi-sidebar-item a:focus svg,
    .fi-sidebar-item-active svg {
        @apply !ml-1;
    }
}

/* Content */
.fi-main {
    @apply lg:pl-12 !important;
}

.fi-ta-ctn {
    @apply shadow-xl;
}

.fi-header-heading {
    @apply !text-2xl text-primary-600 dark:text-primary-400;
}

.fi-header-subheading {
    @apply !text-sm;
}
